
/* 
font-family: 'Roboto';
font-weight: 400;500;700;900
color main color #757575
color title h2 #212121
background #FFFFFF
title hero #FFFFFF
team card job #757575
background section teams #F5F4FA
address tel color: rgba(255, 255, 255, 0.6)
logo #000000 #2196F3 #FFFFFF Raleway 700
hover #2196F3 mail #757575 Roboto medium
portfolio #212121 Roboto 500
 */

/* hero */
.hero {
   background-color: #2F303A;
}
.hero-title {
   color: var(--white-color);
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;
}
.btn {
   background-color: var(--accent-text-color);
   color: var(--white-color);
   border-color: var(--accent-text-color);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   font-family: inherit;
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.06em;
}
.section-title {
   color:  var(--title-text-color);
   font-size: 36px;
   line-height: 1.17;
   letter-spacing: 0.03em;
}
.subtitle {
   color: var(--title-text-color);
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}
.features p {
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
}
/* our teams */
.teams {
   background-color: var(--section-background);
}
.member> .section-title {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.19;
   text-align: center;
   letter-spacing: 0.03em;
}
.member-text {
   font-size: 16px;
   line-height: 1.19;
   text-align: center;
   letter-spacing: 0.03em;
}

/* portfolio button */
.button {
   color: var(--title-text-color);
   background-color: var(--section-background);
   font-family: inherit;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.63;
   letter-spacing: 0.03em;
   border-color: transparent;
   border-radius: 4px
}
.button:hover,
.button:focus {
   color: var(--white-color);
   background-color: var(--accent-text-color);
}
/* portfolio */
.portfolio-title {
   color: var(--title-text-color);
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
}
.portfolio p {
   color: var(--primary-text-color);
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.03em;
}
.portfolio a {
   background-color: #FFFFFF;
}