
/* hover #2196F3 mail #757575 Roboto medium 
portfolio #212121 Roboto medium (500) h1 #FFFFFF Roboto black (900)
 background #FFFFFF button #FFFFFF Roboto Bold (700) #757575 Roboto regular 
 team #F5F4FA logo #000000 #2196F3 #FFFFFF Raleway bold 
 button portfolio #F5F4FA (background) 
 address tel color: rgba(255, 255, 255, 0.6);
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
 */



.logo {
   color: #2196F3;
}
.logo-studio {
   color: #000000;
}